@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Marquee animation for scrolling text */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}